@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=block');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=block');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=block');

html{}

/* common */
.in {position:relative; width: clamp(1240px, 70vw, 1640px); max-width: 100%; padding: 0 2rem; margin: 0 auto;}
.in2 {position:relative; width: clamp(1180px, 70vw, 1440px); max-width: 100%; padding: 0 2rem; margin: 0 auto;}

.hidden { display:block; height: 0; width: 0; font-size: 0; line-height: 0; margin: 0; padding: 0; overflow:hidden; border: none; }

.pc_only { display:inline-block; }
.mo_only { display:none; }
.phone_only { display:none; }
.phone_over { display:block; }

.swiper-wrapper.disabled { transform: translate3d(0px, 0, 0) !important; }
.swiper-pagination.disabled, .swiper-button-prev.disabled, .swiper-button-next.disabled, .swiper-button-pause.disabled { display: none; }
.swiper-button-next, .swiper-button-prev { outline:none; }

.nice-select .list { min-width: 100%; margin-top: 0; }

html.scroll_none { overflow: hidden; }

svg {overflow: visible;}


:root {

    --scroll-width: 7px;

    --header-height: 90px;

    --pop: 'Poppins';
    --awesome: 'font Awesome 6 Pro';

    --org: #EA5514;

    --fullHeight: calc(var(--vh, 1vh) * 100)

}

#container {  }


/*스크롤 스타일*/
body{overflow-y: scroll;}
body::-webkit-scrollbar { width: var(--scroll-width); }
body::-webkit-scrollbar-thumb { height: 20%; background: #A9A9A9; border-radius: 10px; }


/*-------헤더-------*/
#header { position: fixed; left: 0; top: 0; z-index: 500; width: 100%; max-width: 100%; height: var(--header-height); padding: 0; background-color: #fff; box-shadow: rgba(149, 157, 165, 0.07) 0 8px 15px; transition: background-color 0.5s, transform 0.3s;}
#header.menu_open { background-color: #cfae94; border-bottom: 1px solid rgba(256,256,256,0. 2); }
#header nav .gnb_bg { position: absolute; left: 50%; top: var(--header-height); width: 100% !important; height: 0; transform: translate(-50%, 0%); transition: all 0.5s; }
#header.on nav .gnb_bg { height: 250px; background-color: #fff; box-shadow: rgba(149, 157, 165, 0.07) 0px 8px 15px; }

#header.move{background-color: rgba(0, 0, 0, 0.92); backdrop-filter: blur(20px);}
#header.on { background-color: #fff; transition: background 0.5s }
#header.down {transform: translateY(calc(0% - var(--header-height))) !important; }

#header .h_in{display: grid; grid-template-columns: auto minmax(0, 1fr) auto; gap: 0; position: relative; width: 100%; max-width: 100%; height: 100%; padding: 0 60px; align-items: center;}

#header .logo{margin-right: 100px;}
#header .logo a{display: flex;}
#header .logo a .white{display: none;}
#header .logo a .foreign{display: none;}
#header .logo a img{height: 42px;}
#header nav{height: 100%;}
#header nav .depth1 {display: flex; align-items: center; justify-content: center; position: relative; z-index: 10; height: 100%; }
#header nav .depth1 li { position: relative; }
#header nav .depth1 > li{height: 100%;}
#header nav .depth1 > li > a { display: flex; align-items: center; justify-content: center; position: relative; height: 100%; padding: 0 2.5em; color: #262626; font-size: 18px; font-weight: 600; transition: padding 0.5s, color 0.25s; }
#header nav .depth1 > li > a.on{color: var(--org);}
#header nav .depth1 > li.active > a { color: var(--org); font-weight: 600; }
#header nav .depth2 { position: absolute; left: 50%; bottom: 0; width: 100%; padding-top: 20px; transform: translate(-50%, 100%); white-space: nowrap; text-align: center; opacity: 0; pointer-events: none; transition: all 0.3s; transition-delay: -0.1s; z-index: 1; }
#header nav .depth2 > li > a { display: block; padding: 9px 0; color: #262626; font-size: 16px; text-transform: capitalize; transition: color 0.25s, font-weight 0.25s; }
#header nav .depth2 > li.active > a { color: var(--org); font-weight: 600; }
#header nav .depth2 > li > a > span {position: relative;}
#header nav .depth2 > li > a[target='_blank'] > span::after{content: '\f08e'; display: inline-block; transform: translateY(-0.05em); margin-left: 0.3em; font-size: 0.85em; font-family: var(--awesome); font-weight: 500; }
#header.on nav .depth1 > li > a { padding: 0 4em 0; }
#header.on nav .depth2 { transition-delay: 0.1s; pointer-events: auto; opacity: 1; }

#header .right_btn{display: flex; align-items: center;}
#header .right_btn .lang_wrap{position: relative; font-family: var(--pop);}
#header .right_btn .lang_wrap .btn{display: flex; align-items: center; padding: 1em 1.5em; background: var(--org); color: #fff; font-size: 14px; font-weight: 500; text-transform: uppercase; border-radius: 2em; line-height: 1em; transition: background 0.25s, color 0.25s;}
#header .right_btn .lang_wrap .btn svg{margin-left: 20px; fill: #fff; transition: all 0.25s;}
#header .right_btn .lang_wrap.open .btn{background: var(--org); color: #fff;}
#header .right_btn .lang_wrap.open .btn svg{transform: rotate(180deg); fill: #fff;}
#header .right_btn .lang_wrap ul{position: absolute; top: calc(100% + 0px); left: 0; opacity: 0; transform: translateY(0px); white-space: nowrap; min-width: 100%; padding: 8px 0; background: var(--org); border-radius: 5px; pointer-events: none;}
#header .right_btn .lang_wrap ul li{}
#header .right_btn .lang_wrap ul li a{display: block; opacity: 0.6; padding: 0.425em 1em; color: #fff; font-size: 14px; font-weight: 500; text-transform: uppercase; text-align: center; transition: opacity 0.25s;}
#header .right_btn .lang_wrap.open ul{opacity: 1; transform: translateY(5px); pointer-events: auto; transition: all 0.3s;}
#header .right_btn .share_wrap{position: relative; margin-left: 30px;}
#header .right_btn .share_wrap .share_btn{display: flex; align-items: center; justify-content: center; width: 42px; height: 42px; cursor: pointer;}
#header .right_btn .share_wrap .share_btn svg{fill: #262626; font-size: 2.8rem; transition: fill 0.25s;}
#header .right_btn .share_wrap .sns_box{position: absolute; top: calc(100% + 0px); left: 0; opacity: 0; transform: translateY(0px); pointer-events: none;}
#header .right_btn .share_wrap.open .sns_box{opacity: 1; transform: translateY(5px); pointer-events: auto; transition: all 0.3s;}
#header .right_btn .share_wrap .sns_box div{display: flex; align-items: center; justify-content: center; background: var(--org); width: 42px; height: 42px; border-radius: 50%; cursor: pointer;}
#header .right_btn .share_wrap .sns_box div + div{margin-top: 4px;}
#header .right_btn .share_wrap .sns_box div svg{fill: #fff;}
#header .right_btn .ham_btn{display: flex; align-items: center; justify-content: center; width: 42px; height: 42px; margin-left: 30px;}
#header .right_btn .ham_btn svg{fill: #262626; font-size: 2.8rem; transition: fill 0.25s;}

/*#header.fixed{ box-shadow: 0 0 25px 0 rgba(0,0,0,0.05); }*/

/*=====사이트 맵=====*/
.sitemap { position: fixed; left: 0; top: 0; width: 100%; height: 100vh; background-color: var(--org); color: #fff; opacity: 0; z-index: 9999; transition: opacity 0.4s; pointer-events: none; }
.sitemap.on { opacity: 1; pointer-events: visible; }

.sitemap .cont { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 100%; max-width: 124rem; margin: 0 auto; padding: 0 20px;}
.sitemap .cont .mo_menu { display: none; }

.sitemap .cont .top { display: flex; align-items: center; justify-content: space-between; padding-bottom: 30px; border-bottom: 1px solid rgba(255,255,255,0.4); }
.sitemap .cont .top .en_tit{font-size: 45px; font-weight: 600; font-family: var(--pop); text-transform: uppercase; line-height: 1em;}
.sitemap .cont .top .sitemap_logo{display: none;}
.sitemap .cont .top .close_btn { display: flex; align-items: center; justify-content: center; width: 1.25em; height: 1.25em; font-size: 3rem; cursor: pointer; }
.sitemap .cont .top .close_btn svg{width: 100%; height: 100%; fill: #fff;}
.sitemap .cont .top .lang{display: none;}

.sitemap .cont .list { display: flex; align-items: flex-start; justify-content: space-between; padding: 0 30px; margin-top: 5rem; }
.sitemap .cont .list .depth1 + .depth1 { margin-left: 40px; }
.sitemap .cont .list .depth1 > a {position: relative; font-size: 2.8rem; font-weight: 600; text-transform: capitalize; transition: color 0.25s; }
.sitemap .cont .list .depth1 > a:before { content: ''; position: absolute; left: 0; top: 0; width: 5px; height: 5px; transform: translate(-150%, 0); border-radius: 100%; background-color: #fff; opacity: 0; transition: opacity 0.5s; }
.sitemap .cont .list .depth2 { margin-top: 4rem; color: #fff; }
.sitemap .cont .list .depth1 > a:hover {}
.sitemap .cont .list .depth2 li{padding: 0.7em 0; font-size: 1.8rem;}
.sitemap .cont .list .depth2 li a {display: block; position: relative; font-weight: 500; text-transform: capitalize; transition: color 0.25s, font-weight 0.25s; }
.sitemap .cont .list .depth2 li a:before { content: ''; position: absolute; left: 0; top: 0; transform: translate(-150%, 0); width: 4px; height: 4px; border-radius: 100%; background-color: #fff; opacity: 0; transition: opacity 0.5s; }


#header.scroll_down {background-color: #fff;}
#header.scroll_down .logo .white {display: none;}
#header.scroll_down .logo .color {display: block;}
#header.scroll_down nav .depth1 > li > a {}
#header.scroll_down nav .depth2 > li > a{}
#header.scroll_down .right_btn .lang_wrap .btn{}
#header.scroll_down .right_btn .share_wrap .share_btn svg {fill: #262626; transition: fill 0.25s;}
#header.scroll_down .right_btn .ham_btn svg {fill: #262626;}
#header.scroll_down nav .depth1 a svg {fill: #262626;}
#header.scroll_down nav .gnb_bg { background-color: #fff;}



/*----푸터----*/
#footer {position: relative; color: #fff;}
#footer .footer_wrap{overflow: hidden; position: relative; padding: 100px 0 80px; background: #181818;}
#footer .footer_wrap::before{content: ''; position: absolute; top: 0; right: 0; transform: translate(40%, -60%); width: 100%; height: 0; padding-top: 100%; /*background: url(../img/common/footer_bg.svg) no-repeat 0 0;*/ background-size: 100%;}
#footer .f_in{width: 100%; max-width: 184rem; padding: 0 2rem; margin: 0 auto;}

#footer .contact{display: flex; align-items: flex-end;}
#footer .contact .txt_box{}
#footer .contact .txt_box .eng{margin-bottom: 1em; color: var(--org); font-size: 24px; font-weight: 700; font-family: var(--pop); text-transform: uppercase; opacity: 0; transform: translateY(70px); transition: opacity 0.8s, transform 0.8s; }
#footer .contact .txt_box .txt{color: #fff; font-size: 52px; font-weight: 700; opacity: 0; transform: translateY(70px); transition: opacity 0.8s, transform 0.8s; transition-delay: 0.2s; }
#footer .contact .arr_box{opacity: 0; transform: translateX(-15%);}
#footer .contact .arr{display: flex; align-items: center; justify-content: center; width: 2.5em; height: 2.5em; margin-bottom: 0.25em; margin-left: 1.25em; border: 1px solid var(--org); font-size: 52px; border-radius: 50%; transition: all 0.25s;}
#footer .contact .arr svg{fill: var(--org); transition: all 0.25s;}
#footer .contact.active .txt_box .eng { opacity: 1; transform: unset; }
#footer .contact.active .txt_box .txt { opacity: 1; transform: unset; }
#footer .contact.active .arr_box{ opacity: 1; transform: unset; transition: opacity 0.8s, transform 0.8s; transition-delay: 0.4s; }
#footer .util{display: flex; justify-content: space-between; margin-top: 125px;}
#footer .util .left{display: flex; align-items: flex-start;}
#footer .util .left div + div{margin-left: 96px;}
#footer .util .left span{display: block; opacity: 0.3; margin-bottom: 1em; color: #fff; font-size: 16px; font-weight: 800; font-family: var(--pop); text-transform: uppercase;}
#footer .util .left p{color: #fff; font-size: 24px; font-weight: 700; line-height: 1.66667em;}
#footer .util .right{display: flex; align-items: flex-start;}
#footer .util .right .more_btn{display: flex; align-items: center; padding: 1em 1.75em; margin-right: 1.25em; border: 1px solid rgba(255, 255, 255, 0.32); color: #fff; font-size: 16px; font-weight: 600; border-radius: 2em; line-height: 1em; transition: background-color 0.3s, color 0.3s, border 0.3s; }
#footer .util .right .more_btn svg{margin-left: 4em; fill: #fff;}
#footer .util .family_site{position: relative;}
#footer .util .family_site div{display: flex; align-items: center; padding: 1em 1.75em; background: #313131; color: #fff; font-size: 16px; font-weight: 600; border-radius: 2em; line-height: 1em; cursor: pointer;}
#footer .util .family_site div svg{transform: rotate(180deg); margin-left: 4em; fill: #fff; font-size: 1.15em; transition: transform 0.2s;}
#footer .util .family_site ul{position: absolute; top: 100%; left: 0; transform: translateY(-5px); opacity: 0; width: 100%; background: #313131; border-radius: 5px; transition: transform 0.2s, opacity 0.2s; pointer-events: none;}
#footer .util .family_site ul li{}
#footer .util .family_site ul li a{display: block; padding: 0.85em 1em; font-size: 14px; line-height: 1em; transition: background 0.2s;}
#footer .util .family_site.open ul{opacity: 1; transform: translateY(0px); pointer-events: auto;}
#footer .util .family_site.open div svg{transform: rotate(0deg);}

#footer .f_info{display: flex; flex-wrap: wrap; align-items: center; margin-top: 60px;}
#footer .f_info .f_logo{flex-shrink: 0; margin-right: 64px;}
#footer .f_info .f_logo img {height: 40px;}
#footer .f_info .f_logo .foreign {display: none;}
#footer .f_info .copyright{display: block; width: 100%; margin-top: 1.25em; color: #848484; font-size: 13px; font-weight: 500; letter-spacing: -0.020em;}
#footer .f_info .f_txt{margin-left: auto;}
#footer .f_info .f_txt .txt_wrap{display: flex;}
#footer .f_info .f_txt .txt_wrap .call{margin-right: 56px;}
#footer .f_info .f_txt .txt_wrap .addr{display: flex;}
#footer .f_info .f_txt .txt_wrap .addr div{margin-right: 56px;}
#footer .f_info .f_txt .txt_wrap p{margin-bottom: 1em; font-size: 14px; font-weight: 500; line-height: 1em;}
#footer .f_info .f_txt .txt_wrap span{display: block; color: #848484; font-size: 13px; font-weight: 500; letter-spacing: -0.020em;}
#footer .f_info .f_txt .txt_wrap .num{color: #fff; font-size: 24px; font-weight: 700; line-height: 1em;}


.fix_btn_box{position: absolute; right: calc((100vw - var(--scroll-width) - clamp(1240px, 70vw, 1640px))/2 + 2rem); top: 0; z-index: 100; opacity: 0; transform: translateY(calc(-100% - 15px)); pointer-events: none; transition: opacity .3s;}
.fix_btn_box.show{opacity: 1; visibility: visible; pointer-events: auto;}
.fix_btn_box .top_btn_box{}
.fix_btn_box .top_btn{display: flex; align-items: center; justify-content: center; z-index: 200; width: 3.2em; height: 3.2em; background: #000; font-size: 20px; box-shadow: 0 9px 80px rgba(144, 144, 144, 0.14); transition: background 0.25s;}
.fix_btn_box .top_btn svg{fill: #fff; transition: all .25s;}



.msg_layer{display: block; justify-content: center; align-items: center; overflow: auto; position: fixed; top:0; bottom:0; left:0; right:0; z-index: 9999; opacity: 0; width:100%; height: 100%; padding: 50px 20px 80px; background: rgba(0, 0, 0, 0.5); pointer-events: none; transition: 0.2s ease-in-out}
.msg_layer.open{opacity: 1; pointer-events: inherit}
.msg_layer .modal_wrap{display: table; position: relative; width: 100%; height: 100%; padding: 0 0; margin: 0 auto; table-layout: fixed; vertical-align: middle}
.msg_layer .modal_wrap .scroll_box{display: table-cell; vertical-align: middle}
.msg_layer .modal_wrap .modal_cont {position: relative; width: 45rem; max-width: 100%; padding: 3rem 0; margin: 0 auto; background-color: #fff; border-radius: 2rem;}
.msg_layer .modal_wrap .modal_cont .cont {padding: 2rem; color: #000;}
.msg_layer .modal_wrap .modal_cont .cont p{font-size: 1.6rem; font-weight: 600; text-align: center; line-height: 1em;}
.msg_layer .modal_wrap .modal_cont .cont .sub_tit{margin-top: 1.5em; font-size: var(--cont-item-desc); text-align: center;}
.msg_layer .btn_wrap { display: flex; align-items: center; justify-content: center; width: 100%; margin-top: 3.5rem; }
.msg_layer .btn_wrap .btm_btn { display: flex; align-items: center; justify-content: center; padding: 0.8em 2em; line-height: 1em; font-size: 1.4rem; font-weight: 600; border-radius: 2em; border: 1px solid #000; color: #000; box-shadow: 0 0 0 transparent; transition: box-shadow 0.3s, background-color 0.3s, color 0.3s; }
.msg_layer .btn_wrap .btm_btn .txt { font-weight: 600; }
.msg_layer .close_btn{position: absolute; top: 0; right: 0; transform: translate(0%, -100%); font-size: 30px; cursor: pointer;}


/*개인정보처리방침*/
.priv_container { padding-top: var(--header-height); padding-bottom: 20rem; }

.priv_container .priv_top { padding: 15rem 0; font-size: 5.6rem; font-weight: 700; text-align: center; }


.priv_wrap { width: 100%; max-width: 100rem; margin: 0 auto; padding: 0 6rem 6rem; border-top: 1.5px solid #000; border-bottom: 1.5px solid #EEEEEE; }
.priv_wrap.privacy { padding: 6rem; }

.priv_wrap .dot_txt:before { display: none; }

.priv_wrap h3 { margin-top: 6rem; font-size: 3rem; font-weight: 700; color: var(--blue); }
.priv_wrap .tit { margin-top: 3rem; font-size: 2rem; font-weight: 700; }
.priv_wrap p { font-size: 1.6rem; line-height: 1.7; }
.priv_wrap p + p { margin-top: 1rem; }
.priv_wrap .tit + p { margin-top: 2rem; }
.priv_wrap .list_in { padding-left: 1em; margin-top: 1rem; }
.priv_wrap p.in_txt { padding-left: 1.3em; text-indent: -1.3em; }
.priv_wrap p +.in_txt { margin-top: 2.5rem; }
.priv_wrap .in_txt +.in_txt { margin-top: 1.5rem; }
.priv_wrap p.in_tit { margin-top: 3rem; font-size: 1.6rem; font-weight: 600; }
.priv_wrap p.dot_txt { padding-left: 0.8em; text-indent: -0.8em; }
.priv_wrap .dot_txt + .dot_txt { margin-top: 1.5rem; }
.priv_wrap p.in_txt.notice { font-weight: 600; }

.priv_wrap p span { display: block; margin-top: 0.3em; padding-left: 0.8em; text-indent: -0.8em; font-size: 0.92em; }
.priv_wrap p span.none { padding-left: 0; text-indent: 0;}
.priv_wrap p span:first-of-type { margin-top: 1rem; }
.priv_wrap ul { display: grid; grid-template-columns: repeat(2, minmax(0, 1fr)); margin-top: 2rem; font-size: 1.6rem; gap: 1.2rem; }

.priv_wrap table { width: 100%; margin-top: 3rem; font-size: 1.4rem; }
.priv_wrap table thead { background-color: #f5f7f9 }
.priv_wrap table thead th { padding: 8px 10px; border: 1px solid #eceff1; word-break: keep-all; line-height: 1.2; }
.priv_wrap table thead th.small { font-size: 1.3rem; }
.priv_wrap table td { padding: 8px 10px; border: 1px solid #EEEEEE; }
.ck-content .table table td, .ck-content .table table th { word-break: break-all !important; }
.priv_wrap table td.price {  }


/*호버 스타일*/
@media screen and (min-width: 1241px){

    #header nav .depth1 > li > a:hover{color: var(--org);}
    #header nav .depth2 > li > a:hover{color: var(--org); font-weight: 600;}
    #header .right_btn .share_wrap .share_btn:hover svg{fill: var(--org);}
    #header .right_btn .lang_wrap ul li a:hover{opacity: 1;}
    #header .right_btn .ham_btn:hover svg{fill: var(--org);}
    #header.scroll_down nav .depth1 > li > a:hover {color: var(--org);}
    #header.scroll_down nav .depth2 > li > a:hover {color: var(--org);}
    #header.scroll_down .right_btn .share_wrap .share_btn:hover svg {fill: var(--org);}
    #header.scroll_down .right_btn .ham_btn:hover svg {fill: var(--org);}
    .sitemap .cont .list .depth1 > a:hover:before { opacity: 1; }
    .sitemap .cont .list .depth2 li a:hover:before { opacity: 1; }
    .sitemap .cont .top .close_btn:hover svg{transform: rotate(270deg); transition: transform 0.5s;}
    #footer .contact .arr:hover{background: var(--org);}
    #footer .contact .arr:hover svg{fill: #fff;}
    #footer .util .right .more_btn:hover { background-color: var(--org); color: #fff; border-color: var(--org); }
    #footer .util .family_site ul li a:hover{background: var(--org);}
    .msg_layer .btn_wrap .btm_btn:hover{background-color: #000; color: #fff;}
    .fix_btn_box .top_btn:hover{background: var(--org);}
    .fix_btn_box .top_btn:hover svg{transform: translateY(-6px);}

}


@media screen and (max-width: 1921px){

    #header .h_in{padding: 0 48px;}
    #header .logo{margin-right: 50px;}
    #header .logo a img{font-size: 13px;}
    #header nav .depth1 > li > a{padding: 0 2em; font-size: 16px;}
    #header nav .depth2 > li > a{font-size: 14px;}
    #header .right_btn .lang_wrap .btn{font-size: 13px;}
    #header .right_btn .lang_wrap ul li a{font-size: 13px;}
    #header .right_btn .share_wrap .share_btn{width: 34px; height: 34px;}
    #header .right_btn .share_wrap .share_btn svg{}
    #header .right_btn .share_wrap .sns_box div{}
    #header .right_btn .ham_btn{width: 34px; height: 34px;}
    #header .right_btn .ham_btn svg{}

    #header.on nav .depth1 > li > a{padding: 0 3em;}

    #footer{}
    #footer .contact .txt_box .eng{font-size: 19px;}
    #footer .contact .txt_box .txt{font-size: 40px;}
    #footer .contact .arr{font-size: 40px;}
    #footer .util{margin-top: 90px;}
    #footer .util .left span{font-size: 14px;}
    #footer .util .left p{font-size: 19px;}
    #footer .util .right .more_btn{font-size: 14px; margin-right: 0.7em;}
    #footer .util .family_site div{font-size: 14px;}
    #footer .util .family_site ul li a{font-size: 13px;}
    #footer .f_info{margin-top: 48px;}
    #footer .f_info .f_logo{margin-right: 50px;}
    #footer .f_info .f_logo img{width: 125px;}
    #footer .f_info .f_txt .txt_wrap .call{margin-right: 40px;}
    #footer .f_info .f_txt .txt_wrap .addr{}
    #footer .f_info .f_txt .txt_wrap .addr div{margin-right: 40px;}
    #footer .f_info .f_txt .txt_wrap p{font-size: 13px;}
    #footer .f_info .f_txt .txt_wrap span{font-size: 12px;}
    #footer .f_info .copyright{font-size: 12px;}

}

@media screen and (max-width: 1640px) {

    html{font-size: 9px;}

}

@media screen and (max-width: 1241px){

    :root{
        --header-height: 70px;
    }

    html{font-size: 8px;}

    #header.down,
    #header {transform: none !important}
    #header{padding: 1.5rem 0;}
    #header .h_in{padding: 0 20px;}
    #header .logo{margin-left: 0;}
    #header .logo a img{transform: translateY(-3px); height: 36px;}
    #header nav{display: none;}
    #header .right_btn{margin-left: auto;}
    #header .right_btn .lang_wrap .btn{padding: 0.8em 1.25em; font-size: 12px;}
    #header .right_btn .lang_wrap ul li a{font-size: 12px;}
    #header .right_btn .share_wrap{margin-left: 20px;}
    #header .right_btn .share_wrap .share_btn{width: 30px; height: 30px;}
    #header .right_btn .share_wrap .share_btn svg{}
    #header .right_btn .share_wrap .sns_box{left: -6px;}
    #header .right_btn .share_wrap .sns_box div{}
    #header .right_btn .share_wrap .sns_box div svg{font-size: 16px;}
    #header .right_btn .ham_btn{width: 30px; height: 30px; margin-left: 20px;}
    #header .right_btn .ham_btn svg{}

    .sitemap {}
    .sitemap .cont {overflow-y: auto; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 100%; max-width: 100%; height: 100%; padding: 0; margin: 0 auto;}
    .sitemap .cont .top{flex-wrap: wrap; position: relative; z-index: 1; padding: 2rem 2rem; border-bottom: none;}
    .sitemap .cont .top .en_tit{display: none;}
    .sitemap .cont .top .sitemap_logo{display: flex; align-items: center; height: 40px;}
    .sitemap .cont .top .sitemap_logo img{transform: translateY(-3px); height: 36px;}
    .sitemap .cont .top .sitemap_logo .foreign{display: none;}
    .sitemap .cont .top .close_btn{}
    .sitemap .cont .top .lang{display: flex; position: relative; z-index: 1; margin-left: auto; margin-right: 3rem; }
    .sitemap .cont .top .lang .btn{display: flex; align-items: center; padding: 0.8em 1.25em; background: #fff; color: var(--org); font-size: 12px; font-weight: 500; text-transform: uppercase; border-radius: 2em; line-height: 1em; transition: background 0.25s, color 0.25s;}
    .sitemap .cont .top .lang .btn svg{margin-left: 1em; fill: var(--org); font-size: 0.8em; transition: all 0.25s;}
    .sitemap .cont .top .lang ul{position: absolute; top: calc(100% + 0px); right: 0; opacity: 0; transform: translateY(0px); white-space: nowrap; width: 100%; padding: 8px 0; background: #fff; border-radius: 5px; pointer-events: none;}
    .sitemap .cont .top .lang ul li{}
    .sitemap .cont .top .lang ul li a{display: block; padding: 0.425em 1em; color: var(--org); font-size: 12px; font-weight: 500; text-transform: uppercase; text-align: center; transition: opacity 0.25s;}
    .sitemap .cont .top .lang ul li a:hover{opacity: 1;}
    .sitemap .cont .top .lang.open .btn svg{transform: rotate(180deg);}
    .sitemap .cont .top .lang.open ul{opacity: 1; transform: translateY(5px); pointer-events: auto; transition: all 0.3s;}

    .sitemap .cont .list_wrap{max-height: none;}
    .sitemap .cont .list { display: flex; flex-direction: column; position: relative; max-width: 100%; padding: 0 0 100px; margin: 1rem auto; border-top: 1px solid rgba(255, 255, 255, 0.2);}
    .sitemap .cont .list::before{display: none;}
    .sitemap .cont .list .depth1{width: 100%; padding: 20px; border-bottom: 1px solid rgba(255, 255, 255, 0.2);}
    .sitemap .cont .list .depth1 + .depth1 {margin-left: 0;}
    .sitemap .cont .list .depth1 > a {display: block; position: relative; font-size: 2.4rem;}
    .sitemap .cont .list .depth1 > a:after { content: ""; position: absolute; top: calc(50% - 0.4em); right: 0; width: 1em; height: 1em; transition: transform .3s; background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><style>path{fill: %23fff;}</style><path d="M241 369c-9.4 9.4-24.6 9.4-33.9 0L47 209c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l143 143L367 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L241 369z"/></svg>') no-repeat center center/cover;}
    .sitemap .cont .list .depth1 > a.on:after { transform: rotate(180deg); }
    .sitemap .cont .list .depth2 { display: none; opacity: 0.85; margin-top: 20px; color: #fff;}
    .sitemap .cont .list .depth2 > li{line-height: 1.2em;}
    .sitemap .cont .list .depth2 > li + li{}
    .sitemap .cont .list .depth2 > li > a {}
    .sitemap .cont .list .depth2 > li > a:hover {}

    #footer .footer_wrap{padding: 70px 0 56px;}
    #footer .contact .txt_box .eng{font-size: 17px;}
    #footer .contact .txt_box .txt{font-size: 32px;}
    #footer .contact .arr{font-size: 32px;}
    #footer .f_info{display: grid; grid-template-columns: auto minmax(0, 1fr); align-items: start;}
    #footer .f_info .f_logo{grid-row: span 2;}
    #footer .f_info .f_txt{margin-left: 0;}
    #footer .f_info .f_txt .txt_wrap{flex-direction: column;}
    #footer .f_info .f_txt .txt_wrap .call{margin-right: 0;}
    #footer .f_info .f_txt .txt_wrap .addr{flex-wrap: wrap; margin-left: 0; margin-top: 25px;}
    #footer .f_info .f_txt .txt_wrap .addr div{margin-bottom: 20px;}
    #footer .f_info .f_txt .txt_wrap p{margin-bottom: 0.5em;}
    #footer .f_info .copyright{margin-top: 5px;}

    .fix_btn_box{right: 2rem;}
    .fix_btn_box .top_btn{width: 2.75em; height: 2.75em;}

}


@media screen and (max-width: 769px){

    :root{

    }

    html {font-size: 7px}

    .pc_only { display: none; }
    .mo_only { display: block; }

    #header .logo a img{height: 34px;}
    #header .right_btn{margin-left: auto;}
    #header .right_btn .lang_wrap{display: none;}
    #header .right_btn .share_wrap{margin-left: 15px;}
    #header .right_btn .share_wrap .share_btn svg{font-size: 24px;}
    #header .right_btn .ham_btn{display: flex; align-items: center; justify-content: flex-end; width: 20px; margin-left: 24px; font-size: 2rem;}
    #header .right_btn .ham_btn svg{font-size: 24px;}

    .sitemap .cont .top .sitemap_logo img{height: 30px;}
    .sitemap .cont .top .lang a{font-size: clamp(1.2rem, .2273vw + 1.1182rem, 1.4rem);}
    .sitemap .cont .list .depth1 > a {font-size: clamp(2.2rem, 1.0294vw + 1.6706rem, 2.8rem);}
    .sitemap .cont .list .depth2 > li{font-size: 14px;}

    #footer .footer_wrap{padding: 40px 0 30px;}
    #footer .contact .txt_box .eng{font-size: clamp(1.3rem, .9804vw + .9471rem, 1.7rem);}
    #footer .contact .txt_box .txt{font-size: clamp(2.2rem, 3.0882vw + .6118rem, 4rem);}
    #footer .contact .arr{font-size: clamp(2.2rem, 3.0882vw + .6118rem, 4rem);}
    #footer .util{margin-top: 40px;}
    #footer .util .right{flex-wrap: wrap; max-width: 400px;}
    #footer .util .right .more_btn{width: 150px; margin-right: 0; font-size: 12px;}
    #footer .util .right .more_btn + .more_btn{margin-left: 0.6em;}
    #footer .util .right .more_btn svg{margin-left: auto;}
    #footer .util .family_site{width: 150px; margin-top: 10px; margin-left: 0.6em;}
    #footer .util .privacy{ margin-top: 10px; margin-left: 0 !important; }
    #footer .util .family_site div{font-size: 12px;}
    #footer .util .family_site div svg{margin-left: auto;}
    #footer .f_info{grid-template-columns: minmax(0, 1fr);}
    #footer .f_info .f_logo{display: none;}
    #footer .f_info .f_txt .txt_wrap .num{font-size: 20px;}
    #footer .f_info .f_txt .txt_wrap .addr div{margin-bottom: 15px; margin-right: 25px;}
    #footer .f_info .f_txt .txt_wrap span{font-size: 11px;}
    #footer .f_info .f_txt .txt_wrap p{margin-bottom: 0.3em;}
    #footer .f_info .copyright{font-size: 11px;}

    .fix_btn_box{display: none;}
    .fix_btn_box .top_btn{width: 2.25em; height: 2.25em;}
    .fix_btn_box .menu_btn_box ul li span{margin-top: 0.3em; line-height: 1.2em;}

    .msg_layer .modal_wrap .modal_cont{padding: 15px 0;}
    .msg_layer .modal_wrap .modal_cont .cont{padding: 10px;}
    .msg_layer .modal_wrap .modal_cont .cont .tit{font-size: 18px;}
    .msg_layer .modal_wrap .modal_cont .cont .sub_tit{font-size: 14px;}
    .msg_layer .btn_wrap{margin-top: 2rem;}
    .msg_layer .btn_wrap .btm_btn{font-size: 15px;}

    .priv_wrap.privacy { padding: 30px 20px; font-size: 13px; }
    .priv_wrap { padding: 0 0 30px; }
    .priv_wrap h3 { font-size: 20px; }

    .priv_wrap .tit { margin-top: 10px; }
    .priv_wrap .tit + p { margin-top: 5px; font-size: 14px; }
    .priv_wrap p,
    .priv_wrap ul { font-size: 13px; }
    .priv_wrap p span { padding-left: 0.5em; font-size: 12px; }
    .priv_wrap ul { grid-template-columns: repeat(1, minmax(0, 1fr)); }


}